<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">  
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>{$page_title|default:"Tytuł domyślny"}</title>
  <link rel="stylesheet" href="{$conf->app_url}/css/style.css" type="text/css" />
</head>
<body>

<div class="external">
  
  {block name=top} Domyślne menu .... {/block}

  <div id="main">
    <div class="sidebar">
      <h2>Menu</h2>
      <ul>
        <li><a href="{$conf->app_url}/app/calc.php">Kalkulator kredytowy</a></li>        
    </div>
    <div class="content">
      {block name=content} Domyślna treść zawartości .... {/block}
      
    <div class="sidebar">
      <h2>Aktualności</h2>
      <p>Lorem ipsum dolor sit amet consectetuer semper at Suspendisse eros In. Lorem et Aenean fringilla ac cursus et id at lacus ipsum. Accumsan iaculis condimentum id interdum natoque in magna nisl eget Aenean. Pharetra quis tincidunt urna justo nulla convallis in pretium Mauris sagittis. Lobortis ut aliquet nisl facilisis sed sollicitudin faucibus morbi lorem sagittis. Malesuada interdum et tristique dui vitae purus aliquet rutrum tortor tellus. Nunc lacinia.</p>          
    </div>
  </div>
    
  <div class="clear"></div>
  
</div>

<div id="footer">
  <p>
    {block name=footer} Domyślna treść stopki .... {/block}
      </p>
      <p>
        Copyright &copy; 2012; Projekt: SzablonyStron.org - <a href="http://szablonystron.org">darmowe szablony stron</a>, Uniwersalne <a href="https://redrewno.pl/pl,produkty,9">podajniki do kart</a> jedno i wielo-komorowe.
      </p>
</div>
</body>
</html>